services:
  php:
    build:
      context: api/
    volumes:
      - ./api/:/var/www/html
    environment:
      - APP_ENV=dev
    extra_hosts:
      - host.docker.internal:host-gateway
    container_name: edusearch_api

  nginx:
    image: nginx:1-alpine
    ports:
      - "8000:80"
    volumes:
      - ./api/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - php
    container_name: edusearch_nginx

  database:
    image: mysql:8.0
    volumes:
      - ./api/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: edusearch
    container_name: edusearch_database

  smtp:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
      - "1025:1025"
    container_name: edusearch_smtp

  frontend:
    build:
      context: frontend/
    volumes:
      - ./frontend:/src/app
      - /src/app/node_modules
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    container_name: edusearch_frontend
